<html>

<body>
    <h1>Home Page</h1>
    You entered:<br>
    Email: <%= a %> <br>
    Password: <%= b %> <br>
    <%= c %> <br>
    <%- c %> <br>

    <ul>
    <% for(i = start; i != end; i++) { %>
        <li>
            <p style="color: orangered">Hello World <%= i %></p>
        </li>
    <% } %>
    </ul>

</body>

</html>